<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
	<title>LessThanDot - 404</title>
<!--
	<meta name="description" content="" />
	<meta name="keywords" content="" />
-->
	<!-- <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<?php bloginfo('rss2_url'); ?>" />
	<link rel="alternate" type="application/atom+xml" title="Atom" href="<?php bloginfo('atom_url'); ?>" /> -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/css/wordpress.css" type="text/css" />
	<link rel="stylesheet" href="/css/allsite.css" type="text/css" />
	<link rel="stylesheet" href="/css/allsiteprint.css" media="print" type="text/css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/wtooltip.min.js"></script>
    <script src="/js/allsite.js" type="text/javascript" ></script>
</head>

{{ partial "header.html" . }}

{{ partial "sidebar.html" . }}

<div class="content-main" style="padding: 2em;">
  <h2>404: Sorry</h2>
  You have reached a page that did not exists or that we didn't archive properly. if
  it was critical, please contact <a href="mailto: eli@tiernok.com">Eli</a>, who will try
  to locate the original for you.
</div>

{{ partial "footer.html" . }}
