<!DOCTYPE html>
<html lang="en-US">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>LessThanDot - {{ .Title }}</title>
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="LessThanDot - {{ .Title }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="article" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ .Permalink }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="/images/logo_prod.png" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="article" />
<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="LessThanDot" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ .Summary }}" />
<!-- <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<?php bloginfo('rss2_url'); ?>" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="<?php bloginfo('atom_url'); ?>" /> -->

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/wordpress.css" type="text/css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/allsite.css" type="text/css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/allsiteprint.css" media="print" type="text/css" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/github-gist.css" />

{{ if eq .Params.author "Eli Weinstock-Herman (tarwn)" }}
    {{ $lastUrlElement := index (last 1 (split (delimit (split .RelPermalink "/") "," "") ",")) 0 }}
    {{ $replacement := $lastUrlElement | printf "http://www.tiernok.com/posts/%s.html" }}
    <link rel="canonical" href="{{ $replacement }}" />
{{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ partial "headerScripts.html" }}
