<div class="post-area">
    <div class="post-title-line">
        <h1><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h1>
        <div class="post-byline">
            by {{ partial "links/author.html" . }}
            on {{ .Date.Format "January 2, 2006" }}
            in category {{ partial "post/oneCategory.html" . }}
        </div>
    </div>
    {{ partial "post/shareLinks.html" . }}
    <div class="post-content"><p>{{ .Summary }}</p></div>
    <a href="{{ .Permalink }}" class="rm">Read More...</a>
</div>