{{ $authorData := index .ctxt.Site.Data._authors (.author | urlize)}}
{{ if $authorData }}
<div class="userInfo">
    <h2>About {{ $authorData.name }}</h2>
    {{ if $authorData.image }}
    <img class="bioPic" src="/images/author/{{ $authorData.image }}" alt="User bio image">
    {{ end }}
    {{ if $authorData.bio }}
        {{ $authorData.bio }}
    {{ else }}
        Author bio not found
    {{ end }}
    <br style="clear: left">
    <div class="bioSoc">
        <span class="bioSocTitle">Social Sitings</span>
        {{ if $authorData.homepage }}
            <a href="{{ $authorData.homepage }}" title="Homepage: {{ $authorData.homepage }}" class="bioSocLink" rel="author"><img src="/images/Home.svg" alt="Homepage"></a>
        {{ end }}
        {{ if $authorData.twitter }}
            <a href="http://twitter.com/{{ $authorData.twitter }}" title="{{ $authorData.twitter }} at Twitter" class="bioSocLink" rel="author"><img src="/images/Twitter.svg" alt="Twitter"></a>
        {{ end }}
        {{ if $authorData.linkedin }}
            <a href="{{ $authorData.linkedin }}" title="grrlgeek at LinkedIn" class="bioSocLink" rel="author"><img src="/images/LinkedIn.svg" alt="LinkedIn"></a>
        {{ end }}
    </div>
</div>
{{ end }}
