<body>
    <div id="contain">
        <div id="subcontain">
            <div id="ttl">
                <div id="hdr">
                    <div id="snav">
                        <a href="http://lessthandot.com/login.php?backtrack=http://lessthandot.com/index.php?">Member Login</a>
                    </div>
                    <a href="http://lessthandot.com/" title="LessThanDot Launchpad" id="logoc"><img src="http://lessthandot.com/images/logo_prod.png" alt="LessThanDot Site Logo" border="0" /></a>
                    <h1>LessThanDot</h1>
                    <div class="pgsttl">A decade of helpful technical content</div>
                </div>
                <div id="nav">
                    <ul>
                        <li><a href="http://lessthandot.com/" title="LessThanDot Launchpad"
                                id="h"><span>Launchpad</span></a></li>
                        <li class="cur"><a href="http://blogs.lessthandot.com/" title="LessThanDot Blogs"
                                id="b"><span>Blogs</span></a></li>
                        <li><a href="http://forum.lessthandot.com/" title="LessThanDot Community Forums"
                                id="f"><span>Forum</span></a></li>
                        <li><a href="http://wiki.lessthandot.com/" title="LessThanDot Wiki Articles"
                                id="w"><span>Wiki</span></a></li>
                        <li><a href="http://sqlcop.lessthandot.com/" title="LessThanDot SQLCop"
                                id="a"><span>SQLCop</span></a></li>
                        <li><a href="http://lessthandot.com/account.php" title="Your Account Settings" id="r"
                                class="l_ie"><span>My Account</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                {{ partial "siteAboutBox.html" }}
