<div id="rtside">
    <div class="content-sidebar-section">
        <h2>Authors</h2>
        <ul class="author-list dimmed">
            <li><a href="/author">All</a> ({{ (where .Site.Pages "Section" "posts") | len }})</li>
            {{ $authors := .Site.Data._authors }}
            {{ range $key, $value := .Site.Taxonomies.author }}
                {{ $fixedKey := replace $key " " "-" | replaceRE "[()]" "" }}
                {{ $authorData := index $authors $fixedKey}}
                <li><a href="/author/{{ $fixedKey }}">{{ $authorData.name }}</a> ({{ $value | len }})</li>
            {{ end }}
        </ul>
    </div>
    <div class="content-sidebar-section">
        <h2>Top Categories</h2>
        <ul class="dimmed">
            <li><a href="/categories">All</a> ({{ (where .Site.Pages "Section" "posts") | len }})</li>
        {{ range first 15 .Site.Taxonomies.categories.ByCount }}
            {{ $fixedKey := replace .Name " " "-" | replaceRE "[(),]" "" | replaceRE "#" "%23" }}
            <li><a href="/categories/{{ $fixedKey }}/">{{ .Name | humanize }}</a> ({{ .Count }})</li>
        {{ end }}
        </ul>
    </div>
</div>